
/* .header{
    background-image: url(/IMG/Raptor-header.jpg);
    background-position:center center;
    background-size: cover;
    height: 100vh;
}
.header-responsive{
    background-image: url(/IMG/Raptor-header-responsive.jpg);
    background-position:center;
    background-size: cover;
    height: 100vh;
}

.ml14 {
    font-weight: 200;
    font-size: 3em;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }

.header-atencionclientes{
    background-image: url(/IMG/Atencion-a-Clientes2.jpeg);
    background-position:center center;
    background-size: cover;
    height: 90vh;
}

.bg-navbar{
    background-color: #323A60 ;

}

.bg-seccion{
    background-color: #323A60 ;
    margin-right: 0.1px;
}
.bg-seccionCRM{
    background-color: #6d7fd6 ;
    margin-right: 0.1px;
}
.titulo{
    color: #58A6B0;
}

.texto{
    color: #914623 ;
}

.arial{
    font-family:Arial, Helvetica, sans-serif;
}
.margen{
    margin-right: 0.1px;
}


.accordion-button:not(.collapsed) {
    color: #914623 ;
    background-color: #E5BE51 ;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #E5BE51;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.encabezado-tabla{
    --bs-table-bg: #323a60;
    color: #E5BE51 ;
}

.bg{
    background-color: #914623 ;
    color: #E5BE51;
}

.bg-tabla-casual{
    background-color: #32aa76;
}

.bg-secction-crm{
    background-image: url(/IMG/casadepartamento.jpg);
    background-position:center center;
    background-size: cover;
    height: 300px;
    
}

.ff-raleway{
    font-family: 'Lora';
}

.transicion{
    transition: 0.4s linear;
}
.transicion:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
    width: 90px;
}

.transicionr{
transition: 0.4s linear;
}
.transicionr:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
    width: 75px;
}

.bg-crm{
    background-image: linear-gradient(to right bottom, #4f5860, #787d84, #a2a4a9, #cdced0, #f9f9f9);
}

.transicioncrm{
    transition: 0.4s linear;
}
.transicioncrm:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
} */
/* HEADER */
@font-face {
    font-family: "Showcard Gothic Normal";
    src: url(../media/SHOWG.TTF);
}
.btn-purple{
    color: #fff;
    background-color: rgb(88, 77, 114);
    border-color: rgb(88, 77, 114);
}
.ff-showg{
    font-family: "Showcard Gothic Normal";
}
.text-orange{
    color: rgb(237, 125, 49);
}
.bg-orange{
    background-color: rgb(237, 125, 49);
}

.boton-flotante{
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50rem;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
}
.bg-boton-whats{
    background: rgba(37, 211, 101, 0.644);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.bg-header{
    background-image: url(../IMG/Raptor-header-responsive.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.nav{
    position: relative;
    top: 75%;
}
.nav a{
    color: #58A6B0;
}
/* MOVING LETTERS */
.ml11 {
    font-weight: 700;
    font-size: 3.5em;
}
  
.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}
  
.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}
  
.ml11 .line1 { 
    top: 0; 
    left: 0;
}
  
.ml11 .letter {
    display: inline-block;
    line-height: 1em;
    font-weight: 300;
    text-shadow:rgba(0, 0, 0, 0.607) 0px 2px 5px;
}

#tilt {
    display: block;
    height: 200px;
    width: 300px;
    /* background-color: grey; */
    margin: 0 auto;
    transition:  transform 0.1s;
    /* filter: drop-shadow(); */

    background-image: url(../IMG/LogoRaptor.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5rem;
    padding: 2.5rem;
}

#tilt:hover {
    filter: drop-shadow(3px 3px 3px rgba(0,0,0, 0.6));
    cursor: pointer;
}
/* CARDS */
.card-planes{
    background-color: #fff;
    border-radius: брх;
    color: #020e26;
    padding: 15px;
    width: 300px;
    overflow: hidden;
    transition: 0.4s;
    transform: translate(0);
    font-weight: 400;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-planes p{
    margin: 0;
    /* font-size: 12px; */
}
.card-planes:hover{
    color: #fff;
}
.card-planes:hover button{
    color:#fff;
}
.card-planes:hover{
    mask-image: url();
}
.card-planes::before{
    content: "";
    position: absolute;
    top: -75px;
    left: -45px;
    z-index: -1;
    /* background: rgb(22, 24, 23); */
    /* background: Linear-gradient(129deg,
        rgba(22,24,23,9.6979166666666667) 2%,
        rgba( 246, 124,2,0.95001750700288113) 61%); */
    border-radius: 50%;
    width: 208px;
    height: 200px;
    transition: 0.4s;
}
.card-planes:hover::before{
    transform: scale(4.5);
}
/* HOME */
.home::before{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.4s;
}
.home:hover::before{
    transform: scale(4.5);
}.home a{
    color: #fff;
}
/* PYME */
.pyme::before{
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.4s;
}
.pyme:hover::before{
    transform: scale(4.5);
}
/* PROFESIONAL */
.profesional::before{
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.4s;
}
.profesional:hover::before{
    transform: scale(4.5);
}
/* ULTIMATE */
.ultimate::before{
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.4s;
}
.ultimate:hover::before{
    transform: scale(4.5);
}


/* SECTION-1 */
.bg-section-1{
    position: relative;
    background-color: #ebebeb;
    height: 160vh;
    z-index: -20;
}
.imagen{
    position: relative;
    width: 100%;
    height: 78vh;
    object-fit: cover;
    z-index: -10;
}
.cuadro-azul{
    position:absolute;
    width: 300px;
    height: 450px;
    left: 5%;
    top: 70%;
    background-color: #415267;
    opacity: .9;
    z-index: -5;
}
.card-section{
    position:absolute;
    width: 470px;
    height: 300px;
    left: 10%;
    top: 80%;
    background-color: #ffffff;
    z-index: 10;
}
.card-testimonial{
    position:absolute;
    width: 430px;
    height: 450px;
    left: 57%;
    top: 105%;
    background-color: #ffffff;
    z-index: 50;
}

/* SECTION CRM-ERP */
.bg-section-crm{
    height: 800px;
}
.bg-section-erp{
    height: 800px;
}
.img-crm-1{
    position: relative;
    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: -10;
}
.img-crm-1 img{
    width: 100%;
    height: 700px;
    /* filter: grayscale(100%); */
    object-fit: cover;
}
.rectang-img-crm-1{
    position: relative;
    width: auto;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.503);
    bottom: 110px;
    z-index: 1;
}
.gradient-text{
    background: #0575E6;  /* fallback for old browsers */
    background-image: linear-gradient(45deg,#0575E6, 16.666%, #021B79, 16.666%,
        #021B79 33.333%, #0575E6 33.333%, #0575E6 50%, #021B79 50%,
        #021B79 66.666%, #0575E6 66.666%, #0575E6 83.333%, #021B79 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-animation-r 0.5s ease forwards;
}

.gradient-text:hover {
    animation: text-animation 0.5s ease-in forwards;
}
@keyframes text-animation-r {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
@keyframes text-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%
    }
    100% {
        background-size: 650%
    }
}

.img-crm-2{
    position: relative;
    height: 350px;
    /* z-index: -10; */
}
.img-crm-2 img{
    width: 100%; 
    height: 350px;
    filter: grayscale(100%);
}
.rectang-img-crm-2{
    position: absolute;
    background-color: #216cb7ab;
    width: 335px;
    height: 350px;
    bottom: 0;
    left: 23%;
    z-index: 1;
}
.rectang-img-erp-2{
    position: absolute;
    background-color: #415267ab;
    width: 275px;
    height: 248px;
    bottom: 0;
    z-index: 1;
}

.card-facturacion{
    position: relative;
    /* background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%); */
    /* border-radius: 15px; */
    height: auto;

}
.height-banner{
    height: 400px;
}

/* SECTION-VIDEO */
.rectang-video-1{
    position: relative;
    width: 350px;
    height: 500px;
    background-color: #216CB7;
    z-index: -10;
}
.rectang-video-2{
    position: relative;
    width: 750px;
    height: 700px;
    background-color: #415267;
    top: 0;
    z-index: 1;
}
.contenido-video{
    padding: 4rem 6rem 0 13rem;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.video{
    position: absolute;
    width: 600px;
    /* top: 1%; */
    right: 58%;
    bottom:0px;
}





/**** CRM ****/
.header-crm{
    position: relative;
    background-image: url(../media/header-crm.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 1;
}
.capa-header-crm{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: #00000070;
    padding-bottom: 100px;
    align-items: center;
    z-index: 10;
}
.capa-header-crm p{
    text-shadow: 3px 3px 7px rgb(50,58,96);;
}
.bg-navbar{
    background: rgb(50,58,96);
    background: linear-gradient(180deg, rgba(50,58,96,1) 0%, rgba(50,58,96,0.528470763305322) 49%, rgba(0,0,0,0) 100%);
}
.p-header{
    margin: 100px 0;
}

.card-crm{
    color: #fff;
    width: 270px;
    overflow: hidden;
    transition: 0.4s;
    transform: translate(0);
    font-weight: 400;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 25px;
}
.label-precio{
    width: 80%;
    height: 58px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    color: #000;
}
.fw-card{
    font-weight: 500;
}
.overflow-x{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 25px 20px;
}
.vps{
    background: rgb(65,67,69);
    background: linear-gradient(216deg, rgba(65,67,69,1) 7%, rgba(35,37,38,1) 100%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.vps:hover{
    background: linear-gradient(41deg, rgba(65,67,69,1) 7%, rgba(35,37,38,1) 100%);
    transform: scale(.5);
}
.multiempresa{
    background: #1cb5e0;
    background: linear-gradient(216deg, #1cb5e0fa 7%, #3E3ED6 100%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.multiempresa:hover{
    background: linear-gradient(41deg, #1cb5e0fa 7%, #3E3ED6 100%);
    transform: scale(.5);
}
.ultimate-crm{
    background: #ED213A;
    background: linear-gradient(216deg, #ED213Afa 7%, #93291E 100%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.ultimate-crm:hover{
    background: linear-gradient(41deg, #ED213Afa 7%, #93291E 100%);
    transform: scale(.5);
}
.pyme-crm{
    background: #52C234;
    background: linear-gradient(216deg, #52C234fa 7%, #2E8B0D 100%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.pyme-crm:hover{
    background: linear-gradient(41deg, #52C234fa 7%, #2E8B0D 100%);
    transform: scale(.5);
}
.home-crm{
    background: #FDC830;
    background: linear-gradient(216deg, #FDC830fa 7%, #F37335 100%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}
.home-crm:hover{
    background: linear-gradient(41deg, #FDC830fa 7%, #F37335 100%);
    transform: scale(.5);
}

.flip-card{
    background-color:transparent;
    width:300px;
    perspective:1000px;
}
.flip-card-inner{
    position:absolute;
    width:100%;
    /* height:100%; */
    /* text-align:center; */
    transition:transform 0.6s;
    transform-style:preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform:rotateY(180deg);
}
.flip-card-front,
.flip-card-back{
    position:absolute;
    width:100%;
    /* height:100%; */
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    border-radius:16px;
    flex: colum;

}
.flip-card-front{
    /* background-image:linear-gradient(45deg,#6f04d9,#d9048e); */
    background-color: #ffffff;
}
.flip-card-front img{
    width:220px;
    margin-top:1rem;
}
.flip-card-back{
    /* background-image:linear-gradient(315deg,#6f04d9,#8a045c); */
    background-color: #fed9e1;
    color:#000;
    transform:rotateY(180deg);
}
.flip-card-back h3{
    margin-bottom:0.3rem;
}
.flip-card-back{
    margin:0;
}
.p-section-crm{
    padding-top: 370px;
}

.transicion{
    transition: 0.4s linear;
}
.transicion:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
    width: 90px;
}

.transicionr{
transition: 0.4s linear;
}
.transicionr:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
    width: 75px;
}

.bg-crm{
    background-image: linear-gradient(to right bottom, #4f5860, #787d84, #a2a4a9, #cdced0, #f9f9f9);
}

.transicioncrm{
    transition: 0.4s linear;
}
.transicioncrm:hover{
    box-shadow: 0 .5rem 1rem rgb(56, 56, 56)!important;
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    /* width: 450px; */
}

/**** ERP ****/
.header-erp{
    position: relative;
    height: 100vh;
    z-index: 1;
}
.carrusel-erp{
    height: 100vh;
    z-index: -10;
}
.carrusel-erp img{
    height: 100vh;
    object-fit: cover;
}
.p-header-erp{
    margin: 170px -60px 0 0 ;
}
.logos{
    position: absolute;
    width: 150px;
    bottom: 0;
    filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.831));
    opacity: .5;
}
.productos-versiones{
    position: relative;
    height: 1000px;
    margin-top: 30px;
}
.rectang-productos-versiones{
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: #216CB7;
    top: 160px;
    z-index: -1;
}

.bg-section-cards{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-card-desarrollo{
    position: relative;
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
    height: 460px;
}
.bg-card-desarrollo span{
    color: #2d2c2c;
    text-shadow: 0px 2px 8px #0c0c0c5a;
    /* -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color:  #707070; */
    /* font-size: 30px; */
}
.bg-card-desarrollo p{
    color: #000000;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #757F9A; */
    font-size: 20px;
    /* line-height: 1.5rem; */
    margin-bottom: 0px;
}
.transicion-desarrollo{
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}
.transicion-desarrollo:hover{
     background: rgb(117,127,154);
    background: linear-gradient(328deg, rgba(117,127,154,1) 0%, rgba(215,221,232,1) 100%);
}
@media(min-width:1030px){
    .bg-card-desarrollo p{
        margin-bottom: 0px;
    }
}
    /* CARD GESTION */
.bg-card-gestion{
    position: relative;
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
    height: 460px;
}
.bg-card-gestion span{
    color: #2C3E50;
    text-shadow: 0px 2px 8px #707070a8;
    /* font-size: 30px; */
}
.bg-card-gestion p{
    color: #2C3E50;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    font-size: 20px;
    margin: 0;
    /* line-height: 1.5rem; */
    /* margin-bottom:40px; */
}
.transicion-gestion{
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}
.transicion-gestion:hover{
    background: rgb(189,195,199);
    background: linear-gradient(137deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
}
    /* CARD-SEGUIMIENTO */
.bg-card-seguimiento{
    position: relative;
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
    height: 460px;
}
.bg-card-seguimiento span{
    color: #4286F4;
    /* text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.184); */
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color:  #777777; */
    /* font-size: 30px; */
}
.bg-card-seguimiento p{
    color: #4286F4;
    /* text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367); */
    font-size: 20px;
    margin-bottom: 0px;
}

.transicion-seguimiento{
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}
.transicion-seguimiento:hover{
    background: rgb(55,59,68);
    background: linear-gradient(137deg, rgba(55,59,68,1) 0%, rgba(66,134,244,1) 100%);
}
    /* CARD-TRANSPARENCIA */
.bg-card-transparencia{
    position: relative;
    background: #EBEBEB;
    background: linear-gradient(137deg, #EBEBEB 0%, rgba(215,221,232,1) 100%);
    border-radius: 15px;
    height: 460px;
}
.bg-card-transparencia span{
    color: #4c4c4c;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.237);
    /* -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color:  #707070; */
    /* font-size: 25px; */
}
.bg-card-transparencia p{
    color: #4c4c4c;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.367);
    /* -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color:  #536976; */
    font-size: 20px;
    /* line-height: 1.5rem; */
    margin-bottom: 0;
}
.transicion-transparencia{
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
}
.transicion-transparencia:hover{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(328deg, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(328deg, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/**** CLIENTES ****/
.header-atencionclientes{
    position: relative;
    background-image: url(../IMG/Atencion-a-Clientes2.jpeg);
    background-position:center center;
    background-size: cover;
    height: 95vh;
}

/* CELULAR */
@media (max-width:770px) {
    /* SECTION-1 */
    .bg-section-1{
        height: 135vh;
    }
    .imagen{
        width: 100%;
        height: 37vh;
    }
    .cuadro-azul{
        width: 156px;
        height: 425px;
        left: 10%;
        top: 70%;
    }
    .card-section{
        width: 300px;
        height: 240px;
        left: 15%;
        top: 80%;
    }
    .height-banner{
        height: auto;
    }
    .card-testimonial{
        width: 300px;
        height: 575px;
        left: 15%;
        top: 160%;
    }
    /* SECTION CRM-ERP */
    .bg-section-crm{
        height: auto;
    }
    .bg-section-erp{
        height: auto;
    }
    .img-crm-1{
        position: relative;
        width: 100%;
        height: 700px;
        object-fit: cover;
        z-index: -10;
    }
    .img-crm-1 img{
        width: 100%;
        height: 700px;
        filter: grayscale(100%);
        object-fit: cover;
    }
    .rectang-img-crm-1{
        position: relative;
        width: auto;
        height: 110px;
        background-color: rgba(0, 0, 0, 0.503);
        bottom: 110px;
        z-index: 1;
    }
    .img-crm-2{
        position: relative;
        /* height: 350px; */
        /* z-index: -10; */
    }
    .img-crm-2 img{
        width: 100%; 
        height: auto;
    }
    .rectang-img-crm-2{
        width: 281px;
        height: 245px;
        bottom: 105px;
        left: 23%;
    }
    .rectang-img-erp-2{
        width: 275px;
        height: 246px;
        bottom: 105px;
    }
    /* SECTION-VIDEO */
    .rectang-video-1{
        width: 350px;
        height: 450px;
        bottom: 30%;
        z-index: -10;
    }
    .rectang-video-2{
        width: 1960px;
        height: 745px;
        top: 0;
        right: 0;
    }
    .contenido-video{
        padding: 20rem 0.5rem 0px 0.5rem;
    }
    .video{
        width: 370px;
        right: -5%;
        bottom: 58%;
    }
     
/**** CRM ****/

    .p-section-crm{
        padding-top: unset;
    }
    .card-planes{
        width: auto;
        height: auto;
    }
    .flip-card-front,
    .flip-card-back{
        position:static;
    }

/**** ERP ****/
    .p-header-erp{
        margin: 280px 0 0 0 ;
    }
    .rectang-productos-versiones {
        top: 130px;
    }
    .productos-versiones{
        position: relative;
        height: 1150px;
        margin-top: 30px;
    }

}

/* TABLET */
@media (min-width:770px) and (max-width:1024px) {
    /* SECTION-1 */
    .bg-section-1{
        height: 100vh;
    }
    .imagen{
        width: 100%;
        height: 37vh;
    }
    .cuadro-azul{
        width: 210px;
        height: 475px;
        left: 10%;
        top: 70%;
    }
    .card-section{
        width: 400px;
        height: 300px;
        left: 18%;
        top: 80%;
    }
    .card-testimonial{
        width: 540px;
        height: 425px;
        left: 25%;
        top: 160%;
    }
    /* SECTION CRM-ERP */
    .rectang-img-crm-2 {
        width: 263px;
        height: 350px;
        bottom: 0;
        left: 15%;
    }

    /* SECTION-VIDEO */
    .rectang-video-1{
        width: 350px;
        height: 700px;
    }
    .rectang-video-2{
        width: 1100px;
        height: 900px;
        top: 0;
        right: 0;
    }
    .contenido-video{
        padding: 32rem 4rem 0px 6rem;
    }
    .video{
        width: 580px;
        right: 35%;
        bottom: 45%;
    }
}
